.grid {
    display: grid;
    gap: var(--grid-gap);
    width: 100%;
}

.g-1 { grid-template-columns:  1fr; }
.g-2 { grid-template-columns:  repeat(2, 1fr); }
.g-6 { grid-template-columns:  repeat(6, 1fr); }
.g-10 { grid-template-columns:  repeat(10, 1fr); }

@media all and (max-width: 1000px) {
    .g-6 { grid-template-columns:  repeat(3, 1fr); }
    .g-10 { grid-template-columns:  repeat(5, 1fr); }
}

@media all and (max-width: 700px) {
    .g-2 { grid-template-columns:  1fr; }
    .g-6 { grid-template-columns:  repeat(3, 1fr); }
    .g-10 { grid-template-columns:  repeat(3, 1fr); }
}

@media all and (max-width: 400px) {
    .g-2 { grid-template-columns:  1fr; }
    .g-6 { grid-template-columns:  repeat(2, 1fr); }
    .g-10 { grid-template-columns:  repeat(2, 1fr); }
}
