.button {
    width: fit-content;
    padding: var(--button-padding);
    border-radius: var(--button-radius);
    border: 0;
    color: var(--button-color);
    background-color: var(--theme);
}

.button:hover {
    padding: 10px 20px;
    color: #000;
    background-color: var(--button-bg-hover);
}