.card {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 100%;
    padding: 20px;
    border-radius: var(--radius);
    background-color: var(--primary-bg);
    box-shadow: var(--box-shadow);
}