.error {
    display: none;
    flex-direction: row;
    align-items: center;
    padding: 10px;
    border-radius: 5px;
}

.error > i {
    font-size: 14px;
    margin-right: 5px;
}

.error.fail {
    color: #a31010;
    border-color: #a31010;
    background-color: #fffafa;
}

.error.success {
    color: green;
    border-color: green;
    background-color: #ebfced;
}