.error {
    display: none;
    flex-direction: row;
    align-items: center;
    width: 100%;
    padding: var(--padding);
    border: 1px dashed transparent;
    border-radius: var(--radius);
}

.error > i {
    font-size: var(--error-icon-size);
    margin-right: 5px;
}

.error.fail {
    color: var(--error-fail-color);
    border-color: var(--error-fail-color);
    background-color: var(--error-fail-bg);
}

.error.success {
    color: var(--error-success-color);
    border-color: var(--error-success-color);
    background-color: var(--error-success-bg);
}