.field {
    display: flex;
    flex-direction: column;
    gap: var(--field-gap);
}

.field > input,
.field > select {
    padding: var(--field-padding);
    border-radius: var(--field-radius);
    border: 1px solid var(--border-color);
    background-color: var(--field-bg);
}

.field > input:hover,
.field > select:hover {
    border: 1px solid var(--theme);
}