.list {
    display: flex;
    flex-direction: row;
    gap: 5px;
    flex-wrap: wrap;
    align-items: center;
}

.list > li {
    flex: 1;
    flex-basis: auto;
    line-height: 18px;
    padding: 10px;
    border-radius: 10px;
    border: 1px dashed #ccc;
    background-color: #f9f9f9;
}

.list > li > b {
    margin-right: 5px;
}