.list {
    display: flex;
    flex-direction: row;
    gap: 5px;
    flex-wrap: wrap;
}

.list > li {
    flex: 1;
    flex-basis: auto;
    line-height: 18px;
    padding: 10px;
    border-radius: 10px;
    border: 1px dashed #ccc;
    background-color: #f9f9f9;
}

.list > li > b {
    margin-right: 5px;
}

@media all and (max-width: 500px) {
    .list { 
        flex-direction: column;
        flex-wrap: nowrap;
    }
    .list > li {
        flex: inherit;
        flex-basis: inherit;
    }
}