.number {
    display: flex;
    flex-direction: column;
    gap: var(--number-gap);
    padding: var(--number-padding);
    border-radius: var(--radius);
    background: rgb(32,32,32);
    background: -moz-linear-gradient(220deg, rgba(32,32,32,1) 0%, rgba(65,65,65,1) 46%, rgba(42,42,42,1) 46%, rgba(0,0,0,1) 100%);
    background: -webkit-linear-gradient(220deg, rgba(32,32,32,1) 0%, rgba(65,65,65,1) 46%, rgba(42,42,42,1) 46%, rgba(0,0,0,1) 100%);
    background: linear-gradient(220deg, rgba(32,32,32,1) 0%, rgba(65,65,65,1) 46%, rgba(42,42,42,1) 46%, rgba(0,0,0,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#202020",endColorstr="#000000",GradientType=1);
    box-shadow: var(--number-shadow);
}

.number > h2 {
    width: 100%;
    color: var(--number-title-color);
    padding-bottom: 5px;
    border-bottom: var(--number-border);
}

.number > p {
    color: var(--number-text-color);
}

.number > p > strong {
    color: var(--number-strong-color);
}