.player {
    display: flex;
    flex-direction: row;
    gap: var(--gap);
    align-items: center;
    width: fit-content;
    padding: var(--padding);
    border-radius: var(--radius);
    border: 1px dashed var(--border-color);
    background-color: var(--secondary-bg);
}

.player > i {
    font-size: 20px;
    line-height: 12px;
    color: var(--theme);
    cursor: pointer;
}

.player > i:hover {
    color: #000;
}