.wrapper {
    display: flex;
    flex-direction: column;
    gap: var(--gap);
    padding: var(--padding);
    border-radius: var(--radius);
    border: 1px dashed var(--border-color);
    background-color: var(--secondary-bg);
}