.field {
    display: flex;
    flex-direction: column;
    gap: var(--field-gap);
}

.field input,
.field select,
.field input.errorField:not(:disabled),
.field selec.errorFieldt:not(:disabled) {
    padding: var(--field-padding);
    border: var(--field-border);
    border-radius: var(--radius);
    background-color: var(--field-bg);
}

.field input:not(:disabled):hover,
.field select:not(:disabled):hover {
    border: var(--field-border-hover);
}

.field input:not(:disabled).errorField,
.field select:not(:disabled).errorField {
    border: var(--field-border-error);
}