footer {
    display: flex;
    flex-direction: row;
    gap: 15px;
    width: 100%;
    max-width: var(--max-width);
    margin-top: 30px;
}

footer > div {
    display: flex;
    flex-direction: column;
    gap: 5px;
    justify-content: flex-start;
    width: 100%;
}

footer > * { 
    text-shadow: var(--footer-text-shadow);
}

footer > div > a {
    color: var(--theme);
    transition: var(--transition);
}

footer > div > a:hover {
    color: var(--theme-hover);
}

footer > div > p {
    color: var(--secondary);
    line-height: 20px;
}

footer > div:nth-child(1) { text-align: left; }
footer > div:nth-child(2) { text-align: right; }

@media all and (max-width: 700px) {
    footer { flex-direction: column; }
    footer > div:nth-child(1) { text-align: center; }
    footer > div:nth-child(2) { text-align: center; }
}