.list {
    display: flex;
    flex-direction: column;
    gap: var(--list-gap);
    list-style: square;
    list-style-position: inside;
}

.list > li {
    color: var(--primary);
    font-weight: 700;
    text-transform: capitalize;
}

.list > li > span {
    font-weight: normal;
    margin-left: 5px;
    text-transform: capitalize;
}