.player {
    display: flex;
    flex-direction: row;
    gap: var(--player-gap);
    align-items: center;
    width: fit-content;
    padding: var(--player-padding);
    border-radius: var(--radius);
    border: var(--player-border);
    background-color: var(--player-bg);
}

.player > * { color: var(--player-color); }

.player > i { 
    cursor: pointer;
    font-size: var(--player-play-size);
}

.player > i:hover { color: var(--player-hover-color); }

.player > p { margin-right: 5px; }